* {
    margin: 0;
}
.room {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    border: 1px #aaa solid;
    width: 400px;
    height: 200px;
    position: relative;
    border-radius: 20px;
}
.room_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
p {
    text-align: center;
}
span {
    width: 100px;
    text-align: center;
    display: inline-block;
}
a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #f38181;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    margin: auto;
    transition: opacity 0.3s;
    margin-top: 20px;
    padding: 5px;
}
a:hover {
    opacity: 0.6;
}
img {
    width: 500px;
    position: absolute;
}