* {
    margin: 0;
}
form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
label {
    display: inline-block;
    font-size: 30px;
    height: 100%;
    line-height: 30px;
}
input[type="text"] {
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 30px;
    border-radius: 12px;
    outline: none;
    text-align: center;
}
input[type="submit"] {
    display: block;
    margin: 30px auto;
    width: 200px;
    text-align: center;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #f38181;
    color: white;
    border: #aaa solid 1px;
    padding: 5px;
    font-size: 22px;
    transition: opacity 0.3s;
}
input[type="submit"]:hover {
    opacity: 0.8;
}