* {
    margin: 0;
    padding: 0;
}

.create {
    text-align: center;
    font-size: 24px;
}

.room {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p {
    width: 250px;
    text-align: center;
    margin: 10px auto;
}

span {
    width: 150px;
    text-align: center;
    display: inline-block;
}

a {
    width: 150px;
    text-align: center;
    background-color: #f38181;
    color: white;
    text-decoration: none;
    display: block;
    height: 40px;
    font-size: 23px;
    margin: 20px auto;
    border-radius: 15px;
    line-height: 40px;
    border: 1px solid #666;
}