* {
    margin: 0;
    padding: 0;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-size: 25px;
    height: 62px;
    line-height: 62px;
    display: inline-block;
}

#room_number {
    width: 300px;
    height: 60px;
    outline: none;
    border-radius: 15px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    border: 1px solid #666;
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 40px;
    background-color: #f38181;
    color: white;
    outline: none;
    border-radius: 15px;
    border: 1px solid #666;
}